# =============================
# Python
# =============================
__pycache__/
*.py[cod]
*$py.class

# =============================
# Conda / environments
# =============================
.env
.venv
env/
venv/
conda_env/
Miniconda3*.sh

# =============================
# Model files
# =============================
*.pth
*.index
*.pt

# =============================
# Large archives
# =============================
*.zip
*.tar
*.tar.gz
*.7z

# =============================
# Dataset storage
# =============================
data/

# =============================
# Experiment tracking
# =============================
wandb/

# =============================
# Experiment outputs
# =============================
results/
outputs/
logs/

# =============================
# Temporary files
# =============================
*.tmp
*.log
*.bak

# =============================
# OS / editor files
# =============================
.DS_Store
Thumbs.db
.vscode/
.idea/